
body{
    height: 100vh;
    background-image: url("Images/Screenshot 2023-08-28 144149.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cont{
    text-align: center;
    height: 60vh;
    width: 50%;
    background: rgba(255,255,255,0.25);
    border-radius: 7px;
    overflow: auto;
    box-shadow: 3px 3px 7px 3px rgb(87, 86, 86),
           inset     5px 5px 8px 3px rgb(192, 191, 191);
    backdrop-filter: blur(2px);
}
.cont::-webkit-scrollbar{
    width: 15px;
    margin-right: 5000px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.cont::-webkit-scrollbar-track{
    border-radius: 10px;
    box-shadow: inset     2px 2px 8px 3px rgb(192, 191, 191)
              ,  inset    -2px -2px 8px 3px rgb(192, 191, 191);;
    background-color: rgba(255,255,255,0.25);
}
.cont::-webkit-scrollbar-thumb{
    background-color: rgb(212, 194, 194);
    border-radius: 10px;
}
.cont::-webkit-scrollbar-thumb:hover{
    background-color: whitesmoke;
}
.cont::-webkit-scrollbar-track:hover{
    width: 40px;
}
h1{
    margin-top: 20px;
}
li{
    margin-top: 10px;
    margin-bottom: 10px;

}
form{
    margin-top: 20px;
}
button{
    width: 60px;
    height: 30px;
    border-radius: 15px;
    border: none;
    background-color: bisque;
    box-shadow: 3px 3px 7px 3px rgb(113, 113, 113),
            inset 3px 3px 7px 3px rgb(253, 200, 134);
}
input{
    border-radius: 10px;
    border: none;
    height: 30px;
    border-radius: 15px;
    box-shadow: inset 3px 3px 7px 3px rgb(150, 150, 150);
}
input:active{
    border: none;
}